<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <main class="create-container">
        <div class="create-title">
            <h1>Crea un Producto</h1>
        </div>
         <form method="POST" action="/create" enctype="multipart/form-data">
            <div class="create-form-container">
                <div class="create-form">
                    <div>
                        <label for="name">Nombre de producto</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                       <label for="name">Categoria</label>
                        <select name="category_id">
                            <option value="">Elegí una opcion</option>
                            <% console.log(categories) %> 
                            <%categories.forEach(categoryList=> { %>                            
                            <option value='<%= categoryList.id %>' ><%= categoryList.name %></option>    
                            <% }) %>                         
                        </select>          
                    </div>
                    <div>                                              
                        <label for="name">Plataforma</label>
                        <select name="platform_id" id="platform_id">
                            <option value="">Elegí una opcion</option>
                            <%platforms.forEach(platformList=> { %>                            
                            <option value='<%= platformList.id %>' ><%= platformList.name %></option>    
                            <% }) %>          
                       </select>            
                        
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <textarea name="description" id="description"></textarea>
                    </div>
                    <div>
                        <label for="name">Imagen</label>
                        <input type="file" name="product_image" id="product_image">
                    </div>                                       
                        <label for="price">Precio</label>
                        <input type="text" name="price" id="price">                    
                </div>
            </div>
            <div class="create-button">
                <button type="submit">Crear Producto</button>
            </div>
        </form>
    </main>
</body>
</html>