<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        
        <div class="form-container">
            
            <form method="POST" action="/create" enctype="multipart/form-data">
                
                    <h1 class="form-title">Crea un Producto</h1>
                    
                    <div class="form-field">
                        <label for="name">Nombre de producto</label>
                        <input class="create-form-input" type="text" name="name">
                    </div>
                    
                    <div class="form-field">
                       <label for="name">Categoria</label>
                        <select class="create-form-input" name="category_id">
                            <option value="">Elegí una opcion</option>
                            <% console.log(categories) %> 
                            <%categories.forEach(categoryList=> { %>                            
                            <option value='<%= categoryList.id %>' ><%= categoryList.name %></option>    
                            <% }) %>                         
                        </select>          
                    </div>
                    
                    <div class="form-field">                                              
                        <label for="name">Plataforma</label>
                        <select class="create-form-input" name="platform_id" id="platform_id">
                            <option value="">Elegí una opcion</option>
                            <%platforms.forEach(platformList=> { %>                            
                            <option value='<%= platformList.id %>' ><%= platformList.name %></option>    
                            <% }) %>          
                       </select>            
                    </div>
                    
                    <div class="form-field">
                        <label for="description">Descripcion</label>
                        <textarea class="create-form-input" name="description" id="description"></textarea>
                    </div>
                    
                    <div class="form-field">
                        <label for="name">Imagen</label>
                        <input class="create-form-input" type="file" name="product_image" id="product_image">
                    </div> 

                    <div class="form-field">                                      
                        <label for="price">Precio</label>
                        <input class="create-form-input" type="number" name="price" id="price">                    
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="button">Crear Producto</button>
                    </div>

            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>