<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    
    <%- include('partials/header.ejs') %>

    <main class="productsgrid">
        <div class="filter">
            <div class="categoryname">
                <h2>TODOS</h2>
                <h5>210 resultados</h5>
                <a href="/create">(ADMIN) Crear Producto</a>
            </div>

            <div class="order">
                <h4>Ordenar publicaciones</h4>
                <div class="selectcont">
                    <select name="order" id="order">
                        <option value="new">mas nuevo</option>
                        <option value="old">mas viejo</option>
                        <option value="cheap">mas barato</option>
                        <option value="expensive">mas caro</option>
                        <option value="off">mayor descuento</option>
                    </select>
                </div>
            </div>

            <div class="selectedfilters">
                <div class="categoryfilter">
                    <h4>Categoria</h4>
                    <div class="categoryitems">
                        <input type="checkbox" name="category" value="ps"><span>playstation</span><br>
                        <input type="checkbox" name="category" value="xbox"><span>xbox</span><br>
                        <input type="checkbox" name="category" value="switch"><span>switch</span><br>
                        <input type="checkbox" name="category" value="PC"><span>PC</span><br>
                    </div>
                </div>
                <div class="pricefilter">
                    <h4>Precio</h4>
                    
                    <div class="priceitems">
                        <div class="between">
                            <span>min</span><input type="text" name="minprice" id="minprice" placeholder="precio minimo">
                        </div>
                        <div class="between">
                            <span>max</span><input type="text" name="maxprice" id="maxprice" placeholder="precio maximo">
                        </div>
                    </div>
                </div>

                <div class="offfilter">
                    <h4>Descuento</h4>
                    <div class="categoryitems">
                        <input type="checkbox" name="category" value="ps"><span>%10</span><br>
                        <input type="checkbox" name="category" value="xbox"><span>%20</span><br>
                        <input type="checkbox" name="category" value="switch"><span>%30</span><br>
                        <input type="checkbox" name="category" value="PC"><span>%40</span><br>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="productscontainer">
            <div class="gridproducts">
                <% productsList.forEach( product=> { %>
                    <a href="products/<%= product.id%>" class="itemproduct">
                        <img src="/img/products/<%= product.image %>" height="275px" >
                        <div class="footeritem">
                            <h3>$ <%= product.price %></h3>
                            <div class="footerinfotitle">
                                <h4><%= product.name %> </h4>
                                <h5><%= product.platform.name %></h5>
                            </div>    
                        </div>    
                    </a>
                <% }) %> 
                

            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
               
</body>
</html>