<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    
    <%- include('partials/header.ejs') %>

    <section class="create-container" id="register-bkg">
        <div class="create-title">
            <h1>Registrate</h1>        
        </div>
        
        <form method="POST" action="/register" enctype="multipart/form-data" >
            
            <div class="create-form-container">
                <div class="create-form">
                   
                    <div class="field">
                        <label for="name">Nombre Completo</label>
                        <div>
                            <input type="text" name='name' id="name"
                              class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" 
                              value="<%= locals.oldFormData && oldFormData.name ? oldFormData.name : '' %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger">
                                    <%= errors.name.msg  %>
                                </div>
                            <%  }  %>         
                        </div>                    
                    </div>
                    
                    <div class="field">
                        <label for="email">Email</label>
                        <div>
                            <input type="email" name= 'email'id="email"
                            value="<%= locals.oldFormData && oldFormData.email ? oldFormData.email : '' %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg  %>
                                </div>
                            <%  }  %>         
                        </div>
                    </div>
                    
                    <div class="field">
                        <label for="pass">Contraseña</label>
                        <div>
                            <input type="password" name= 'password' id="password">
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg  %>
                                </div>
                            <%  }  %>         
                        </div>    
                    </div>

                    <div>
                        <label for="image">Imagen de Perfil</label>
                        <input type="file" name="user_image" id="user_image">
                    </div>
                                       
                </div>
            </div>
            
            <div class="button">
                <button type="submit"> Enviar  </button>
                
            </div>
        </form>      
    </section>

    <%- include('partials/footer.ejs') %>
               
</body>
</html>