<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>   
    <%- include('../partials/header.ejs') %>

    <main class="productsgrid">

        <div class="productscontainer">
            <div class="gridproducts">
                <% userList.forEach( user=> { %>
                    <a href="users/<%=user.id%>" class="itemproduct"> 
                        <img src="/img/users/<%=user.image == null ? "user-image-default.jpg" : user.image%>">
                       
                        <div class="footeritem">
                            <h3> <%= user.first_name %> <%= user.last_name %></h3>
                            <h4><%= user.email %></h4>
                            <div class="footerinfotitle"></div>    
                        </div>    
                    </a>
                <% }) %> 
                

            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>            
</body>
</html>